a{
    text-decoration: none;
}

body{
    
    background-color: #f0ece2;
}

button{
    margin: 20px;
    padding: 12px;

}

h1{
    color: #596e79;
    text-align: center;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text{
    font-size: larger;
    padding: 25px;
    color:  #596e79;
    border: gray double 5px;
}

h2{
    font-weight: 400;
    padding: 12px;
    margin: auto;
}

.list-elements{
    color: #596e79;
    background-color: #dfd3c3;
    border: dashed  #c7b198 3px;
}

img{
    border-bottom:#596e79 groove 7px;
    border-right: #596e79 groove 7px;
}
